* {
    box-sizing: border-box;
}

header {
    height: 100px;
    background:#ffffff;
    padding: 10px;
    border-bottom: 3px solid #cccccc;
    margin: -10px;    
    
}

h1 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.top {
    width: 960px;
    margin: 0 auto 0 auto;
            
}



.fullname {
    background: #4aaaa5;
    text-align: center;
    float: left;
    /* margin-bottom: 20px; */
    line-height: 75px;
    padding: 10px;
    position: relative;
    top: -29px;
    
}

#Contact {
    float: right;
    margin: 10px;
    padding-top: 15px;

}

#Portfolio {
    float: right;
    margin: 10px;
    padding-top: 15px;
}

#About {
    float: right;
    margin: 10px;
    padding-top: 15px;
}

/* .clearfix::after {
    content: "";
    display: block;
    clear: both;
} */

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    border-color: #dddddd
}

.content {
    width: 960px;
    margin: 100px auto 100px auto;
    background: #ffffff;
    padding: 15px;
    
    

}

#aboutMe {
    padding: 20px 0px;
    border-bottom: 3px solid #cccccc;
    margin: 0px 0px 20px 0px
}

#profPic {
    padding: 5px 15px 5px 0px;
    float: left;
}

footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-size: 10px;
    flex-shrink: 0;
    margin: -10px;

}

.placeholder {
    height: 200px;
    width: 300px;
    margin: 25px;
}

.prjTitles {
    background: #4aaaa5;
    color: #ffffff;
    width: 300px;
    text-align: center;
    margin: 25px;
    position: relative;
    top: -100px;
    padding: 3px;
    
}

#project1 {
    float: left;
}

#project2 {
    float: left;
}

#project3 {
    float: left;
}

#project4 {
    float: left;
}

#project5 {
}
